
body {
  font-family: 'Bitter', serif;
  background-color: black;
  align-items: stretch;
  margin: 25px;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
  background-color: black;
  color: #708090;
  margin: auto;
}

#cs {
  width: 100%;
  height: 80vh;
  align-self: stretch;
  background-color: #708090;
  position: relative;
  /*transform: translateY(30%);*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding-bottom: 10px;
}

#cs svg {
  width: auto;
  height: 100%;
  margin-top: 10px;
  padding-top: 50px;
}

footer {
  margin: 0 auto;
  color: #708090;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*svg animations*/

/*keyframes*/
@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-it {
  100%{
    fill: black;
    stroke-width: 8;
  }
}

.logo {
  fill: transparent;
}

.logo {
  stroke: black;
  stroke-width: 18;

  animation: offset 1s linear forwards, fill-it .8s 1s forwards;
}

.logo-bigpath {
  stroke-dasharray: 11380;
  stroke-dashoffset: 11380;
}

.logo-earpath {
  stroke-dasharray: 2140;
  stroke-dashoffset: 2140;
}

.logo-smallpath {
  stroke-dasharray: 935;
  stroke-dashoffset: 935;
}

.logo-nosepath {
  stroke-dasharray: 2500;
  stroke-dashoffset: 2500;
}

.logo-chinpath {
  stroke-dasharray: 1315;
  stroke-dashoffset: 1315;
}

.logo-neckpath {
  stroke-dasharray: 1225;
  stroke-dashoffset: 1225;
}
